{% extends 'library/base.html' %}
{% block title %}Password has been changed!{{ block.super }}{% endblock title %}
{% block content %}
    <h1>Reset password!</h1>
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <p><button type="submit">Reset Password</button></p>
        </form>
    {% else %}
        <p class="form-error">Error: bad link. Please request <a href="{% url 'password_reset' %}">again</a></p>
    {% endif %}
{% endblock content %}